Predicting whether the borrower is likely to default on loan or not given specific information using Logistic Regression

# Importing important libraries

In [95]:
# For Visualization
import matplotlib as plt
# For working with dataset
import pandas as pd
import numpy as np
import sklearn
%matplotlib inline

# Dataset
The dataset used in this model consists of information(Income, Age, Loan amount, Loan to income ratio) on 2000 people and whether they defaulted their loan or not.

Dataset source - "https://raw.githubusercontent.com/ybifoundation/Dataset/main/Credit%20Default.csv"

In [96]:
dataset = pd.read_csv('creditcarddef.csv')

In [97]:
dataset.head(10)

        Income        Age         Loan  Loan to Income  Default
0  66155.92510  59.017015  8106.532131        0.122537        0
1  34415.15397  48.117153  6564.745018        0.190752        0
2  57317.17006  63.108049  8020.953296        0.139940        0
3  42709.53420  45.751972  6103.642260        0.142911        0
4  66952.68885  18.584336  8770.099235        0.130990        1
5  24904.06414  57.471607    15.498598        0.000622        0
6  48430.35961  26.809132  5722.581981        0.118161        0
7  24500.14198  32.897548  2971.003310        0.121265        1
8  40654.89254  55.496853  4755.825280        0.116980        0
9  25075.87277  39.776378  1409.230371        0.056199        0

In [98]:
X = dataset.iloc[:,0:4].values
Y = dataset.iloc[:,4].values

In [99]:
X

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03, 1.22536751e-01],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03, 1.90751581e-01],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03, 1.39939800e-01],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03, 1.24635659e-01],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03, 3.70856680e-02],
       [6.94365795e+04, 5.61526170e+01, 7.37883360e+03, 1.06267239e-01]])

In [100]:
Y

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [102]:
from sklearn import train_test_split

ImportError: cannot import name 'train_test_split' from 'sklearn' (c:\Users\KaiStack\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\__init__.py)